%h1 Posts
.table-responsive
%table.table.table-striped
  %thead
    %tr
      %th{width: '20%'} id
      %th{width: '50%'} rationale
      %th{width: '15%'} date
      %th{width: '15%'} user_id
      %th{width: '15%'} first_name
      %th{width: '15%'} last_name

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.id
        %td= truncate(post.rationale)
        %td= post.date
        %td= post.user_id
        %td= post.user.first_name
        %td= post.user.last_name
